.cache-main
.cache-tests
.classpath
.DS_Store
.factorypath
.project
.settings/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
go/bin/
go/pkg/
go/src/github.com/
.metals/
node_modules/
*/*/data/elasticsearch
