.cache-main
.cache-tests
.classpath
.DS_Store
.factorypath
.project
.settings/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
golang/bin/
golang/pkg/
golang/src/github.com/
.metals/