<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{HH:mm:ss}) %highlight(%-5level) %m %cyan([%logger{0}]) %n</pattern>
        </encoder>
    </appender>

    <logger name="uk.ac.soton.mi2n23" level="DEBUG" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>